.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #333;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.icon {
  font-size: 24px;
  cursor: pointer;
}

.home {
  color: white;
}

.menu-wrapper {
  position: relative;
}

.menu {
  list-style: none;
  position: absolute;
  top: 100%; /* Position the menu below the icon */
  right: 0; /* Align menu to the right */
  background: white;
  color: black;
  border-radius: 5px;
  padding: 10px;
  width: 150px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: none; /* Initially hidden */
}

.menu.active {
  display: block; /* Show when active */
}

.menu li {
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.menu li:hover {
  background: #f4f4f4;
}

.menu-icon {
  position: absolute;
  right: 20px; /* Position at the right corner */
  top: 50%;
  transform: translateY(-50%); /* Center vertically */
}

/* Style for the Home icon */
.icon.home {
  font-size: 2rem; /* You can adjust the size of the icon */
  cursor: pointer; /* Change the cursor to pointer for interactivity */
  transition: padding 0.3s ease; /* Smooth transition for padding change */
  padding: 0 15px 0 15px; /* Increase the padding when hovered */
}

.icon.home:hover {
  padding: 0 15px 0 15px; /* Increase the padding when hovered */
}
