.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
  overflow: hidden;
}

.title {
  font-size: 3.2em;
  color: rgb(149, 62, 0);
  opacity: 0; /* Initially invisible */
  transition: opacity 2s ease-out; /* Fade-in effect */
}

.title.fade-in {
  opacity: 1; /* Fade-in effect */
}

.header {
  opacity: 0;
  transition: opacity 2s ease-out; /* Added fade-in effect for header */
}

.header.fade-in {
  opacity: 1;
}

/* Home page title fade-in effect */
.title {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.title.fade-in {
  opacity: 1;
}

/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-theme {
  background-color: #121212;
  color: #fff;
}

.App {
  padding: 20px;
}
